* {
	font-size: 12px;
	font-family: hack;
}

window#waybar {
	background: rgba(29, 28, 36, 0.0);
	color: #fdf6e3;
}

#custom-right-arrow-dark {
	color: #1a1a1a;
	font-size: 20px;
}
#custom-left-arrow-dark {
	color: #1a1a1a;
	font-size: 20px;
}
#custom-right-arrow-light{
	color: rgba(29, 28, 36, 0.0);
	background: #1a1a1a;
	font-size: 20px;
}
#custom-left-arrow-light {
	color: rgba(29, 28, 36, 0.0);
	background: #1a1a1a;
	font-size: 20px;
}

#workspaces,
#window,
#clock.1,
#clock.2,
#clock.3,
#custom-jadwal-shalat,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#temperature,
#mode {
	color: #60a5fa;
	background: #1a1a1a;
}
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
	background: #1a1a1a;
}
#workspaces button.focused {
	color: #60a5fa;
	background: #1a1a1a;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}
#window {
	padding: 0 2px;
	color: #60a5fa;
	background: #1a1a1a;
}
#custom-jadwal-shalat {
	color: #3b82f6;
	background: #1a1a1a;
}
#custom-pipewire {
	color: #268bd2;
	background: #1a1a1a;
}
#pulseaudio {
	color: #268bd2;
	background: #1a1a1a;
}
#memory {
	color: #2563eb;
	background: #1a1a1a;
}
#cpu {
	color: #1d4ed8;
	background: #1a1a1a;
}
#battery {
	color: #8b5cf6;
	background: #1a1a1a;
}
#disk {
	color: #7c3aed;
	background: #1a1a1a;
}
#temperature {
	color: #1e40af;
	background: #1a1a1a;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
	background: #1a1a1a;
}
