window {
margin: 1px;
border: 1px solid rgba (44,47,50,0.0);
background-color: rgba (27,30,32,0.0);
}

#outer-box {
margin: 1px;
border: 1px solid rgba (44,47,50,0.0);
background-color: rgba (27,30,32,0.30);
}

#scroll {
margin: 1px;
border: 1px solid rgba (44,47,50,0.0);
background-color: rgba (27,30,32,0.60);
}

#inner-box {
margin: 1px;
border: 1px #60a5fa;
background-color: rgba (96,165,250,0.60);
}

#text {
margin: 1px;
border: 1px #6d28d9;
background-color: rgba (0,0,0,0);
color: rgba (109,40,217,1.0);
}

#input {
margin: 5px;
border: 2px #f8f8f2;
background-color: #f8f8f2;
}

#text:selected {
background-color: rgba (0,0,0,0);
color: rgba (27,30,32,1.0);
}


